<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <!-- FONTAWESOME -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
        <!-- VUE.JS -->
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <!-- STYLE -->
        <link rel="stylesheet" href="style.css">
        <title>TODO LIST</title>
    </head>
    <body>

        <div id="root">

            <input id="input" type="text" v-model="newItem">
            <button @click="addItem" type="button" name="button"> Aggiungi alla lista</button>

            <ul>
                <li v-for=" item in items"> {{ item }} </li>
            </ul>

        </div>



        <!-- JAVASCRIPT -->
        <script src="main.js" charset="utf-8"></script>
    </body>
</html>
