<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <!-- STYLE -->
        <link rel="stylesheet" href="style.css">
        <!-- VUE.JS -->
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <title>TODO LIST</title>
    </head>
    <body>

        <div id="root">
            <div class="container">
                <h1> Todo List</h1>

<!-- creo un v-if v-else per cambiare il valore al button e richiamare le relative funzioni di modifica e successiva aggiunta alla lista -->
                <div v-if="!isModificate">
                    <input id="input" type="text" v-model="item">
                    <button @click="addItem" type="button" name="button" class="btn btnadd"> Aggiungi alla lista</button>
                </div>
                <div v-else>
                    <input id="input" type="text" v-model="item">
                    <button @click="modificItem" type="button" name="button" class="btn btnadd"> Aggiungi modifica</button>
                </div>

<!-- lista ordinata. scorro l'array. Ogni item ha il relativo pulsante per la modifica e cancellazione -->
                <ol>
                    <li
                        v-for="(item, index) in items"> {{ item }}
                        <button @click="editItem(index, item)" type="button" name="button" class="btn modify">Modifica</button>
                        <button @click="removeItem(index)" type="button" name="button" class="btn delete">Cancella</button>
                    </li>
                </ol>
            </div>

        </div>



        <!-- JAVASCRIPT -->
        <script src="main.js" charset="utf-8"></script>
    </body>
</html>
